* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Rockwell, Arial, Helvetica, sans-serif;
    background-color: #152468;
}

.add-subtema {
    background-color: rgb(255, 255, 255);
    width: 75%;
    box-sizing: border-box;
    padding: 10px;
    border: rgb(13, 0, 70) solid 3px;
    border-radius: 7px;
    margin: 10px auto;
    max-width: 600px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}