.container {
    background-color: cadetblue;
    width: 80%;
    height: 10rem;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: table;
}

.form {
    display: table-cell;
    vertical-align: middle;
}

#text {
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
}

.submit {
    display: block;
    margin: auto;
    margin-top: 1rem;
    height: 3rem;
    width: 5rem;
    background-color: white;
}

#error {
    background-color: red;
    color: white;
    font-size: 3rem;
    display: none;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}