* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Rockwell, Arial, Helvetica, sans-serif;
    background-color: #152468;
}

.tema {
    box-sizing: border-box;
    background-color: rgb(13, 0, 70);
    padding: 15px;
    color:white;
    font-size: 1.35em;
    text-align: center;
    margin: 20px 0 0 0;
}

.subtema {
    background-color: rgb(255, 255, 255);
    width: 94%;
    box-sizing: border-box;
    padding: 10px;
    border: rgb(13, 0, 70) solid 3px;
    border-radius: 7px;
    margin: 10px auto;
    max-width: 600px;
}

.subtema-titulo {
    font-size: 1.35rem;
    padding: 10px;
}

.pontos {
    box-sizing: border-box;
}

ul {
    padding-left: 20px;
    margin: 10px;
}

li {
    font-weight: bold;
    margin-top: 10px;
}



.bi {
    max-width: fit-content;
    font-weight: bold;
    background-color:rgba(255, 251, 29, 0.4)
}

#stopwatch {
    box-sizing: border-box;
    height: 100px;
    position: fixed;
    bottom: 0px;
    background: #333;
    padding: 0px;
    border-radius: 0px;
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    
    /*border-top: 3px red  solid;*/
  }
  #sw-time {
    border:0;
    padding:0;
    margin: 5px;
    border: solid red;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  #sw-rst {
    width: 42.5%;
    height: 30%;
    box-sizing: padding-box;
    padding: 10px;
    display: inline-block;
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position:absolute;
    left: 5%;
    line-height: 50%;

  }

  #sw-go {
    width: 42.5%;
    height: 30%;
    box-sizing: padding-box;
    padding: 10px;
    display: inline-block;
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 5%;
    line-height: 50%;
  }